<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
</head>
<body>

</body>
    {% block greeting %}
        {{ user.name }},
    {% endblock %}

    {% block content %}
    {% endblock %}
</html>
